.App {
  text-align: center;
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
  height: 90vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search {
  --fa-animation-duration: 3s;
  position: absolute;
  z-index: 2;
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}

.has-search .form-control {
  padding-left: 2.5rem;
  background-color: transparent;
}

table {
  animation-name: slideUp;
  animation-timing-function: ease-in-out;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

thead {
  background-color: slategrey;
}

th, td {
  color: white;
}

.table-row {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 2000ms;
  animation-fill-mode: both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideUp {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
   
  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
